doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Blog
    link(rel='stylesheet', href='/styles/style.css')

  body
    header.header
      h1 Blog
      nav
        ul
          li
            a(href="/") Home
          li
            a(href="/posts") Posts
          li
            a(href="/posts/new") New Post
    main
      block content
    footer
      p &copy; 2023 Blog Application
